@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: italic;
}
header{
    background-color: bisque;
    box-shadow: 0px 0px 4px 4px grey;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.logo{
    color: black;
}
.menu-list{
    display: flex;
    gap: 2em;
}
.menu-list li a{
    color: #222;
}
.button-icon{
    display: flex;
    align-items: center;
    /* gap: 1em; */
}
.button-icon button{
    padding: 10px 16px;
    background-color: #0c1234;
    border-radius: 5px;
    border: none;
}
.button-icon button a{
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.fa-bars{
    font-size: 2em;
    display: none;
}

/* ----header--media query--- */

@media(max-width:791px){
    nav{
        justify-content: space-between;
    }
    .menu-list{
        display: none;
    }
    .button-icon button{
        display: none;
    }
    .fa-bars{
        display: block;
    }

}